@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import './styles/variables.css';
@import 'tailwindcss';

body {
    font-family: "Space Grotesk", "Segoe UI", sans-serif;
    background-color: var(--sf-900);
    color: var(--sf-200);
}